/* Dashboard.css */

.dashboard-container {
  padding: 20px;
  font-family: Open Sans;
  font-style: italic;
  font-weight: bold;
}
.dasbhead {
  color: #978be9;
  text-align: center;
  font-weight: bold;
}
h1 {
  font-size: 2rem;
}

/* Button Box Styling */
.button-box {
  display: flex;
  flex-direction: column; /* Arrange buttons vertically */
  align-items: center; /* Center buttons within the box */
  gap: 15px;
  margin-top: 70px;
  width: 200px;
  text-align: center;
  position: absolute;
  right: 20px; /* Distance from the right edge */
}
.add {
  width: 200px;
  margin-left: 390px; /* Horizontal centering */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #e8e6f8;
  border: 1px solid #d35400;
}

.button-box button {
  background-color: #e8e6f8;
  width: 140px; /* Fixed width for all buttons */
  /* Optionally, you can also set height or other styles */
  border: 1px solid #d35400;
}
/* Form Styling */
.dish-form {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(228, 188, 9, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dish-form input,
.dish-form textarea {
  width: 80%; /* Reduced width */
  padding: 8px; /* Reduced padding */
  margin-top: 5px;
  border: 1px solid #ccc;
  font-size: 14px; /* Slightly smaller font size */
  /* text-align: center; Center horizontally */

  /* Center text vertically */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px; /* Adjust height as needed */
}
.a {
  font-weight: bolder;
}
.edit {
  background-color: #b8b0f1;
  border: 1px solid #d35400;
}
.del {
  width: 200px;
  margin-left: 390px; /* Horizontal centering */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #e8e6f8;
  margin-top: 34px;
  border: 1px solid #d35400;
}
/* Dish List Styling */
.dish-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
  width: 950px;
}

.dish-item {
  background-color: #e8e6f8;
  border: 2px solid #d35400;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

.dish-item img {
  width: 80%;
  height: 50%;
  border-radius: 10px;
}
