/* Navbar.css */
.custom-navbar {
  background-color: #b8e2d7; /* Change this color to your desired navbar background color */
  border-bottom: 2px solid #2b9276; /* Subtle highlight */
}

.heading {
  color: #000000 !important; /* Change link color */
  padding-left: 49px;
  padding-right: 30px;
  padding-top: 15px;
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.navbar-brand,
.nav-link {
  color: #000000 !important; /* Change link color */
  padding-left: 49px;
  font-size: x-large;
  font-style: italic;
  font-family: Open Sans;
  margin-right: 39px;
}

.navbar-toggler {
  background-color: #b8e2d7 !important; /* Customize the toggler button */
  color: #d35400;
}

.navbar-nav .dropdown-menu {
  background-color: #f1e5d9 !important; /* Change dropdown background */
}

.navbar-nav .dropdown-item {
  color: #000000 !important; /* Change dropdown item color */
  transition: background-color 0.3s, color 0.3s ease-in-out;
}

.navbar-nav .dropdown-item:hover {
  background-color: #b8e2d7;
  color: #ffffff;
}

/* Dropdown Item Separator */
.navbar-nav .dropdown-divider {
  border-top: 1px solid #b8e2d7;
}

/* Responsive Font Scaling */
@media (max-width: 768px) {
  .nav-link {
    font-size: 1.5rem; /* Adjust size for smaller screens */
    /* padding-left: 10px;
    padding-right: 10px; */
  }

  .heading {
    font-size: large; /* Adjust heading size */
  }
}
